@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #AF1B3F;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: center;

}

.search-btn{
   height: 50px;
   width: 150px;
   background: #D3C2EB;
   border: none;
   color: #AF1B3F;
   border-radius: 25px;
   font-family: 'Dancing Script', cursive;
   font-size: 2rem;
}

.search-btn:hover{
  background: #9171bf;
  cursor: pointer;
}

.search-field{
    height: 4em;
    width: 50em;
    padding: 10px;
    border-radius: 25px;
    outline: none;
}

.form-box{
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
}


.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
}

.center{
  display: block;
  margin: auto;
  margin-top: 7px;
  width: 50%;
}

.container {
  padding: 0px 40px;
}

.get-recipes-btn{
  height: 3em;
  width: 7em;
  background: #fff59d;
  border: none;
  color: #E0115F;
  border-radius: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  margin-bottom: 30px;
}

.get-recipes-btn:hover{
  background: whitesmoke;
  cursor: pointer;
}

.random{
  text-align: center;
}

.full-container{
  background:#fff59d;
  padding: 25px;
  margin: 100px
}

.recipe-pic{
  display: block;
  margin: auto;
  margin-top: 65px;
  width: 60%;
}

.full-recipe-title{
  font-size: 3em;
}

.full-recipe-p{
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.full-recipe-ul{
  font-size: 18px;
  font-weight: bold;
  color: #AF1B3F;
}

.full-recipe-li{
  color: black;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 8px;
  margin: 3px;
  display: inline-flex;
}


.add-btn{
  height: 3rem;
  width: 5rem;
  background: #E0115F;
  border: none;
  color: whitesmoke;
  border-radius: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
}

.add-btn:hover{
  
  cursor: pointer;
}
